@import '~bootstrap/scss/bootstrap';

.container {
  height: 100vh;
}

head {
  background-color: white;
}

h1 {
  text-shadow: 2px 2px 5px red;
  margin: 30px;
  background-color: white;
}

body {
  // background-image: url('Pictures/TicBackGround.jpg');
  // background-repeat: no-repeat;
  background-color: tan;
}

.board {
  margin: auto;
  height: 100%;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  background-color: green;
  background-size: cover;
  position: relative;
  top: 90px;
}

.box {
  height: 80px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  &:nth-child(3n) {
    border-right: 0;
  }
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
  min-height: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 8vh;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  &:hover {
    background-color: grey;
  }
  user-select: none;
}

.top-section {
  position: relative;
  text-align: center;
  border-bottom-style: solid;
  border-width: thick;
  border-color: black;
  background-color: white;
  padding-top: 2px;
}
.bottom-section {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top-style: solid;
  border-width: thick;
  border-color: black;
}

.player-x {
  position: absolute;
  color: red;
  left: 150px;
  border-radius: 25px;
 background: black;
 padding: 5px;
 width: 150px;
 height: 50px;
}

.player-o {
  position: absolute;
  color: blue;
  right: 150px;
  border-radius: 25px;
 background: black;
 padding: 5px;
 width: 150px;
 height: 50px;
}

.messaging-x-o {
  text-align: center;
  margin: 15px;
  font-size: 30px;
  Color: green;
}
